<div class="main-content">
    <div class="container" style="padding-top:10%">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger text-center" >
                        <h4 class="card-title">ABC JOBS</h4>
                        <p class="card-category">Selecciona Metodo de Autenticacion</p>
                    </div>
                    <div class="card-body">
                        <div class="row" style="padding-top:5%">
                            <div class="col-md-6 d-flex justify-content-center" >
                                <button mat-raised-button class="btn btn-danger btn-block" style="width:80%" (click)="goToLoginEmpresa()">Iniciar Sesion como Empresa</button>
                            </div>
                            <div class="col-md-6 d-flex justify-content-center">
                                <button mat-raised-button class="btn btn-danger btn-block" style="width:80%" (click)="goToLoginCandidato()">Iniciar Sesion como Candidato</button>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:5%; padding-top:2%">
                            <div class="col-md-6 d-flex justify-content-center">
                                <button mat-raised-button class="btn btn-danger btn-block" style="width:80%">Registrarse como Empresa</button>
                            </div>
                            <div class="col-md-6 d-flex justify-content-center">
                                <button mat-raised-button class="btn btn-danger btn-block" style="width:80%" (click)="goToRegistroCandidato()">Registrarse como Candidato</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  