<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row card-header card-header-danger ">
                        <div class="col-md-2">
                            <h4 class="card-title" style="padding-top:3%">Menu</h4>
                        </div> 
                        <div class="col-md-2" style="background-color : #9e4849; border-radius:5px;">
                            <h4 style="padding-top:2%"> 
                                <div class="row" >
                                    <div class="col-md-3">
                                        <img style="width: 100%; height:100%" src="/assets/img/proyectoIco.png"/>
                                    </div>
                                    <div class="col-md-8" style="padding-top:4%">
                                        Entrevistas
                                    </div>
                                </div>
                            </h4>
                        </div>       
                    </div>
                    <div class="card-body">
                        <app-historial-entrevistas></app-historial-entrevistas>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  