<div class="main-content">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger text-center" >
                      <h4 class="card-title">ABC JOBS</h4>
                      <p class="card-category" i18n="Company Sign Up title@@CompanySignUpTitle">{{'CREATE_COMPANY.Title' | translate}}</p>
                  </div>
                  <div class="card-body">
                      <form
                      [formGroup]="crearEmpresaForm"
                      (ngSubmit)="!crearEmpresaForm.invalid && crearEmpresa(crearEmpresaForm.value)"
                      >
                          <h4 class="card-title text-center" i18n="Company information title@@companyInformationInformation">{{'CREATE_COMPANY.CompanyInformation' | translate}}</h4>
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="text-center">
                                    <select matNativeControl required formControlName="empresa_tipo_doc" novalidate placeholder="{{'CREATE_COMPANY.CompanyDocumentType' | translate}}" ngDefaultControl i18n-placeholder="Company document type@@companyDocumentTypeLabel">
                                      <option value="NIT">NIT</option>
                                      <option value="RUT">RUT</option>
                                      <option value="TAXID">Tax ID</option>
                                    </select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width text-center">
                                    <input novalidate matInput placeholder="{{'CREATE_COMPANY.CompanyDocumentID' | translate}}" type="text" formControlName="empresa_num_doc" ngDefaultControl i18n-placeholder="Company document ID@@companyDocumentIDLabel">
                                    <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" crearEmpresaForm.get('empresa_num_doc')!.hasError('minlength') && crearEmpresaForm.get('empresa_num_doc')!.touched" i18n="Min length company document ID error@@minLengthCompanyDocumentIDError">
                                    {{'CREATE_COMPANY.AtLeastFiveChars' | translate}}
                                  </div>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width text-center">
                                    <input novalidate matInput placeholder="{{'CREATE_COMPANY.CompanyName' | translate}}" type="text" formControlName="empresa_nombre" ngDefaultControl i18n-placeholder="Company name@@companyNameLabel">
                                    <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" crearEmpresaForm.get('empresa_nombre')!.hasError('minlength') && crearEmpresaForm.get('empresa_nombre')!.touched" i18n="Min length company name error@@minLengthCompanyNameError">
                                    {{'CREATE_COMPANY.AtLeastFiveChars' | translate}}
                                  </div>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width text-center">
                                  <input novalidate matInput placeholder="{{'CREATE_COMPANY.CompanyEmail' | translate}}" type="email" formControlName="empresa_email" ngDefaultControl i18n-placeholder="Company email@@companyEmailLabel">
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" crearEmpresaForm.get('empresa_email')!.hasError('email') && crearEmpresaForm.get('empresa_email')!.touched" i18n="Company email error@@companyEmailError">
                                    {{'CREATE_COMPANY.EnterValidEmail' | translate}}
                                  </div>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width text-center">
                                  <input novalidate matInput placeholder="{{'CREATE_COMPANY.CompanyPhoneNumber' | translate}}" type="text" formControlName="empresa_telefono" ngDefaultControl i18n-placeholder="Company phone number@@companyPhoneNumberLabel">
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" crearEmpresaForm.get('empresa_telefono')!.hasError('minlength') && crearEmpresaForm.get('empresa_telefono')!.touched" i18n="Min length company phone number error@@minLengthCompanyPhoneNumberError">
                                    {{'CREATE_COMPANY.AtLeastSevenChars' | translate}}
                                  </div>
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" crearEmpresaForm.get('empresa_telefono')!.hasError('pattern') && crearEmpresaForm.get('empresa_telefono')!.touched" i18n="Company phone number format error@@companyPhoneNumberFormatError">
                                    {{'CREATE_COMPANY.LettersNotAllowed' | translate}}
                                  </div>
                                </mat-form-field>
                              </div>
                          </div>
                          <br>
                          <hr>
                          <br>
                          <h4 class="card-title text-center" i18n="Representative information title@@representativeInformationInformation">{{'CREATE_COMPANY.RepresentativeInformation' | translate}}</h4>
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="text-center">
                                    <select matNativeControl required formControlName="representante_tipo_doc" novalidate placeholder="{{'CREATE_COMPANY.RepresentativeDocumentType' | translate}}" ngDefaultControl i18n-placeholder="Representative document type@@representativeDocumentTypeLabel">
                                      <option value="CC">CC</option>
                                      <option value="CE">CE</option>
                                      <option value="PAS">PAS</option>
                                    </select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width text-center">
                                    <input novalidate matInput placeholder="{{'CREATE_COMPANY.RepresentativeDocumentID' | translate}}" type="text" formControlName="representante_num_doc" ngDefaultControl i18n-placeholder="Representative document ID@@representativeDocumentIDLabel">
                                    <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" crearEmpresaForm.get('representante_num_doc')!.hasError('minlength') && crearEmpresaForm.get('representante_num_doc')!.touched" i18n="Min length representative document ID error@@minLengthRepresentativeDocumentIDError">
                                    {{'CREATE_COMPANY.AtLeastFiveChars' | translate}}
                                  </div>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width text-center">
                                    <input novalidate matInput placeholder="{{'CREATE_COMPANY.RepresentativeName' | translate}}" type="text" formControlName="representante_nombre" ngDefaultControl i18n-placeholder="Representative name@@representativeNameLabel">
                                    <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" crearEmpresaForm.get('representante_nombre')!.hasError('minlength') && crearEmpresaForm.get('representante_nombre')!.touched" i18n="Min length representative name error@@minLengthRepresentativeNameError">
                                    {{'CREATE_COMPANY.AtLeastFiveChars' | translate}}
                                  </div>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width text-center">
                                  <input novalidate matInput placeholder="{{'CREATE_COMPANY.RepresentativeEmail' | translate}}" type="email" formControlName="representante_email" ngDefaultControl i18n-placeholder="Representative email@@representativeEmailLabel">
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" crearEmpresaForm.get('representante_email')!.hasError('email') && crearEmpresaForm.get('representante_email')!.touched" i18n="Representative email error@@crepresentativeEmailError">
                                    {{'CREATE_COMPANY.EnterValidEmail' | translate}}
                                  </div>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width text-center">
                                  <input novalidate matInput placeholder="{{'CREATE_COMPANY.RepresentativePhoneNumber' | translate}}" type="text" formControlName="representante_telefono" ngDefaultControl i18n-placeholder="Representative phone number@@representativePhoneNumberLabel">
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" crearEmpresaForm.get('representante_telefono')!.hasError('minlength') && crearEmpresaForm.get('representante_telefono')!.touched" i18n="Min length representative phone number error@@minLengthRepresentativePhoneNumberError">
                                    {{'CREATE_COMPANY.AtLeastSevenChars' | translate}}
                                  </div>
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" crearEmpresaForm.get('representante_telefono')!.hasError('pattern') && crearEmpresaForm.get('representante_telefono')!.touched" i18n="Representative phone number format error@@representativePhoneNumberFormatError">
                                    {{'CREATE_COMPANY.LettersNotAllowed' | translate}}
                                  </div>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width text-center">
                                <input novalidate matInput placeholder="{{'CREATE_COMPANY.RepresentativeUser' | translate}}" type="text" formControlName="representante_usuario" ngDefaultControl i18n-placeholder="Representative user@@representativeUserLabel">
                                <div class="alert alert-danger alert-dismissible fade show"
                                  *ngIf=" crearEmpresaForm.get('representante_usuario')!.hasError('minlength') && crearEmpresaForm.get('representante_usuario')!.touched" i18n="Representative user error@@crepresentativeUserError">
                                  {{'CREATE_COMPANY.AtLeastFiveChars' | translate}}
                                </div>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width text-center">
                                <input novalidate matInput placeholder="{{'CREATE_COMPANY.RepresentativePassword' | translate}}" type="password" formControlName="representante_clave" ngDefaultControl i18n-placeholder="Representative password@@representativePasswordLabel">
                                <div class="alert alert-danger alert-dismissible fade show"
                                  *ngIf=" crearEmpresaForm.get('representante_clave')!.hasError('minlength') && crearEmpresaForm.get('representante_clave')!.touched" i18n="Representative password error@@crepresentativePasswordError">
                                  {{'CREATE_COMPANY.AtLeastFiveChars' | translate}}
                                </div>
                              </mat-form-field>
                            </div>
                        </div>
                          <div class="row">
                            <div class="col-lg-6 col-md-10 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="backToLanding()" i18n="Company signup return button@@companySignUpBackButton">{{'CREATE_COMPANY.Back' | translate}}</button>
                                </div>
                                <div class="col-md-6">
                                    <button 
                                    mat-raised-button class="btn btn-danger btn-block btn-crear-empresa" 
                                    type="submit" 
                                    [disabled]="!crearEmpresaForm.valid" i18n="Company signup button@@companySignUpButton">{{'CREATE_COMPANY.SignUp' | translate}}
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="copyright pull-right" style="margin-right: 5%;">
  <div style="border-radius: 5px; background-color:red; color: white; padding-left: 2px; padding-right: 2px;">
      <mat-icon>translate</mat-icon> 
      <select style="border-radius: 5px; background-color:red; color: white; padding-left: 2px; padding-right: 2px;" class="select-lang" id="sel-lang" #selLang (change)="translateLanguageTo(selLang.value)">
          <option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}</option>
      </select>
  </div>
</div>