<div class="row">
  <div class="col-md-1" style="text-align: left;">
    <mat-icon matSufix [ngStyle]="{'color':'gray'}" (click)="goBack()">arrow_back</mat-icon>
  </div>
  <div class="col-md-5">
    <div class="card-title text-left">
      <h4>{{'NEW_WORKSHEET.Title' | translate}}</h4>
    </div>
  </div>
  <div class="col-md-6" style="text-align: right;">
    <mat-icon matSufix [ngStyle]="{'color':'gray'}" (click)="openSearchDialog()" #filtrar>note_add</mat-icon>
  </div>
</div>
<div class="card-body">
    <form
    [formGroup]="crearHojaTrabajoForm"
    (ngSubmit)="!crearHojaTrabajoForm.invalid && crearHojaTrabajo(crearHojaTrabajoForm.value)"
    >
        <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width text-center">
                <input novalidate matInput placeholder="{{'NEW_WORKSHEET.WorkName' | translate}}" type="text" formControlName="nombre_trabajo" ngDefaultControl>
                <div class="alert alert-danger alert-dismissible fade show"
                *ngIf=" crearHojaTrabajoForm.get('nombre_trabajo')!.hasError('maxlength') && crearHojaTrabajoForm.get('nombre_trabajo')!.touched">
                {{'NEW_WORKSHEET.Enter100Chars' | translate}}
              </div>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <textarea novalidate matInput placeholder="{{'NEW_WORKSHEET.IdealCandidateDesc' | translate}}" formControlName="descripcion_candidato_ideal" ngDefaultControl></textarea>
                <div class="alert alert-danger alert-dismissible fade show"
                *ngIf=" crearHojaTrabajoForm.get('descripcion_candidato_ideal')!.hasError('maxlength') && crearHojaTrabajoForm.get('descripcion_candidato_ideal')!.touched">
                {{'NEW_WORKSHEET.Enter5000Chars' | translate}}
                </div>
              </mat-form-field>
            </div>
        </div>
        <h5 class="card-title text-left">{{'NEW_WORKSHEET.Candidates' | translate}}</h5>
        <div>
          <table mat-table class="tabla-candidatos" [dataSource]="candidatosDisponiblesDataSource">
            <ng-container matColumnDef="nombre" style="width:30%">
              <th mat-header-cell *matHeaderCellDef class="celda-tabla-candidatos">
                {{'NEW_WORKSHEET.CandidateNameHeader' | translate}}
              </th>
              <td mat-cell *matCellDef="let element" class="celda-tabla-candidatos">
                {{ element.nombre }}
              </td>
            </ng-container>
            <ng-container matColumnDef="fecha_evaluacion" style="width:30%">
              <th mat-header-cell *matHeaderCellDef class="celda-tabla-candidatos">
                {{'NEW_WORKSHEET.CandidateEvaluationDateHeader' | translate}}
              </th>
              <td mat-cell *matCellDef="let element" class="celda-tabla-candidatos">
                {{ element.fecha_ultima_evaluacion }}
              </td>
            </ng-container>
            <ng-container matColumnDef="evaluaciones" style="width:30%">
              <th mat-header-cell *matHeaderCellDef class="celda-tabla-candidatos">
                {{'NEW_WORKSHEET.CandidateEvaluationsHeader' | translate}}
              </th>
              <td mat-cell *matCellDef="let element" class="celda-tabla-candidatos">
                {{ element.promedio_evaluaciones }}
              </td>
            </ng-container>

            <ng-container matColumnDef="seleccionar" style="width:10%; text-align: right;">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()" #generalCheckbox>
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <br><br><br>
        <div class="row">
          <div class="col-lg-6 col-md-12 ml-auto mr-auto">
            <button 
              mat-raised-button class="btn btn-danger btn-block btn-crear-hoja-trabajo" 
              type="submit" 
              [disabled]="!crearHojaTrabajoForm.valid">{{'NEW_WORKSHEET.Save' | translate}}
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="copyright pull-right" style="margin-right: 5%;">
  <div style="border-radius: 5px; background-color:red; color: white; padding-left: 2px; padding-right: 2px;">
      <mat-icon>translate</mat-icon> 
      <select style="border-radius: 5px; background-color:red; color: white; padding-left: 2px; padding-right: 2px;" class="select-lang" id="sel-lang" #selLang (change)="translateLanguageTo(selLang.value)">
          <option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}</option>
      </select>
  </div>
</div>