<div class="main-content">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger text-center" >
                      <h4 class="card-title">ABC JOBS</h4>
                      <p class="card-category" i18n="Candidate Register Title@@CandidateRegisterTitle">registration as a candidate</p>
                  </div>
                  <div class="card-body">
                      <form
                      [formGroup]="candidatoForm"
                      (ngSubmit)="!candidatoForm.invalid && crearCandidato(candidatoForm.value)"
                      >
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field>
                                    <select matNativeControl required formControlName="tipo_doc" novalidate placeholder="Document type" ngDefaultControl i18n-placeholder="Document type select@@DocumentTypeSelect">
                                      <option value="Cedula" i18n="Identification card option@@Identification Card Option">Identification Card</option>
                                      <option value="Cextranjeria" i18n="Foreigner card option@@ForeignerCardOption">Foreigner Card ID</option>
                                      <option value="Pasaporte" i18n = "Passport option@@PassportOption">Passport</option>
                                    </select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input novalidate matInput placeholder="Document number" formControlName="num_doc" ngDefaultControl i18n-placeholder="Document number placeholder@@DocumentNumberPlaceholder">                        
                                    <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('num_doc')!.hasError('minlength') && candidatoForm.get('num_doc')!.touched">
                                    Ingrese al menos 5 caracteres
                                  </div>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input novalidate matInput placeholder="Name" type="text" formControlName="nombre" ngDefaultControl i18n-placeholder="Name placeholder@@NamePlaceholder">
                                    <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('nombre')!.hasError('minlength') && candidatoForm.get('nombre')!.touched">
                                    Ingrese al menos 5 caracteres
                                  </div>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="Email" type="email" formControlName="email" ngDefaultControl i18n-placeholder="Email placeholder@@EmailPlaceholder">
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('email')!.hasError('email') && candidatoForm.get('email')!.touched">
                                    Ingrese un formato de correo válido
                                  </div>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="Telephone number" type="text" formControlName="telefono" ngDefaultControl i18n-placeholder="Telephone placeholder@@TelephonePlaceholder">
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('telefono')!.hasError('minlength') && candidatoForm.get('telefono')!.touched">
                                    Telefono debe contener al menor 7 dígitos
                                  </div>
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('telefono')!.hasError('pattern') && candidatoForm.get('telefono')!.touched">
                                    No se permiten letras
                                  </div>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="Country" type="text" formControlName="pais" ngDefaultControl i18n-placeholder="Country placeholder@@CountryPlaceholder">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="City" type="text" formControlName="ciudad" ngDefaultControl i18n-placeholder="City placeholder@@CityPlaceholder">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="Wage aspiration" type="text" formControlName="aspiracion_salarial" ngDefaultControl i18n-placeholder="Wage aspiration placeholder@@WageAspirationPlaceholder">
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('aspiracion_salarial')!.hasError('minlength') && candidatoForm.get('aspiracion_salarial')!.touched">
                                    Valor debe tener al menos 5 dígitos
                                  </div>
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('aspiracion_salarial')!.hasError('pattern') && candidatoForm.get('aspiracion_salarial')!.touched">
                                    Solo se permite valor numérico
                                  </div>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                 <input novalidate matInput placeholder="Birthdate" type="text" formControlName="fecha_nacimiento" ngDefaultControl i18n-placeholder="Birthdate placeholder@@BirthdatePlaceholder">
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('fecha_nacimiento')!.hasError('pattern') && candidatoForm.get('fecha_nacimiento')!.touched">
                                    Fecha en formato aaaa-mm-dd
                                  </div>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="User" type="text" formControlName="usuario" ngDefaultControl i18n-placeholder="User placeholder@@UserPlaceholder">
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('usuario')!.hasError('minlength') && candidatoForm.get('usuario')!.touched">
                                    Mínimo 5 caracteres
                                  </div>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="Password" type="text" formControlName="clave" [type]="hide ? 'password' : 'text'" ngDefaultControl i18n-placeholder="Password placeholder@@PasswordPlaceholder">
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('clave')!.hasError('minlength') && candidatoForm.get('clave')!.touched">
                                    Mínimo 5 caracteres
                                  </div>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field>
                                  <mat-select multiple [formControl]="idiomas" placeholder="Languages" ngDefaultControl formControlName="idiomas" i18n-placeholder="Languages placeholder@@LanguagesPlaceholder">
                                    <mat-select-trigger>
                                      {{idiomas.value?.[0] || ''}}
                                      <span *ngIf="(idiomas.value?.length || 0) > 1" class="example-additional-selection">
                                        (+{{(idiomas.value?.length || 0) - 1}} {{idiomas.value?.length === 2 ? 'other' : 'others'}})
                                      </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let idioma of idiomasList" [value]="idioma">{{idioma}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6 col-md-10 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="backToLanding()" i18n="Back button label@@BackButton">Back</button>
                                </div>
                                <div class="col-md-6">
                                    <button 
                                    mat-raised-button class="btn btn-danger btn-block" 
                                    type="submit" 
                                    [disabled]="!candidatoForm.valid" i18n="Register button label@@RegisterButton"
                                    >Register
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
