<div class="main-content">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger text-center" >
                      <h4 class="card-title">ABC JOBS</h4>
                      <p class="card-category">Registro como candidato</p>
                  </div>
                  <div class="card-body">
                      <form
                      [formGroup]="candidatoForm"
                      (ngSubmit)="!candidatoForm.invalid && crearCandidato(candidatoForm.value)"
                      >
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field>
                                    <select matNativeControl required formControlName="tipo_doc" novalidate placeholder="Tipo documento" ngDefaultControl>
                                      <option value="Cedula">Cedula</option>
                                      <option value="Cextranjeria">Cextranjeria</option>
                                      <option value="Pasaporte">Pasaporte</option>
                                    </select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input novalidate matInput placeholder="Número documento candidato" formControlName="num_doc" ngDefaultControl>                        
                                    <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('num_doc')!.hasError('minlength') && candidatoForm.get('num_doc')!.touched">
                                    Ingrese al menos 5 caracteres
                                  </div>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input novalidate matInput placeholder="Nombre del candidato" type="text" formControlName="nombre" ngDefaultControl>
                                    <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('nombre')!.hasError('minlength') && candidatoForm.get('nombre')!.touched">
                                    Ingrese al menos 5 caracteres
                                  </div>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="Correo electrónico candidato" type="email" formControlName="email" ngDefaultControl>
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('email')!.hasError('email') && candidatoForm.get('email')!.touched">
                                    Ingrese un formato de correo válido
                                  </div>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="Teléfono candidato" type="text" formControlName="telefono" ngDefaultControl>
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('telefono')!.hasError('minlength') && candidatoForm.get('telefono')!.touched">
                                    Telefono debe contener al menor 7 dígitos
                                  </div>
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('telefono')!.hasError('pattern') && candidatoForm.get('telefono')!.touched">
                                    No se permiten letras
                                  </div>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="País del candidato" type="text" formControlName="pais" ngDefaultControl>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="Ciudad del candidato" type="text" formControlName="ciudad" ngDefaultControl>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="Aspiración salarial" type="text" formControlName="aspiracion_salarial" ngDefaultControl>
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('aspiracion_salarial')!.hasError('minlength') && candidatoForm.get('aspiracion_salarial')!.touched">
                                    Valor debe tener al menos 5 dígitos
                                  </div>
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('aspiracion_salarial')!.hasError('pattern') && candidatoForm.get('aspiracion_salarial')!.touched">
                                    Solo se permite valor numérico
                                  </div>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                 <input novalidate matInput placeholder="Fecha de nacimiento" type="text" formControlName="fecha_nacimiento" ngDefaultControl>
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('fecha_nacimiento')!.hasError('pattern') && candidatoForm.get('fecha_nacimiento')!.touched">
                                    Fecha en formato aaaa-mm-dd
                                  </div>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="Usuario" type="text" formControlName="usuario" ngDefaultControl>
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('usuario')!.hasError('minlength') && candidatoForm.get('usuario')!.touched">
                                    Mínimo 5 caracteres
                                  </div>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input novalidate matInput placeholder="Clave" type="text" formControlName="clave" [type]="hide ? 'password' : 'text'" ngDefaultControl>
                                  <div class="alert alert-danger alert-dismissible fade show"
                                    *ngIf=" candidatoForm.get('clave')!.hasError('minlength') && candidatoForm.get('clave')!.touched">
                                    Mínimo 5 caracteres
                                  </div>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field>
                                  <mat-select multiple [formControl]="idiomas" placeholder="Idiomas" ngDefaultControl formControlName="idiomas">
                                    <mat-select-trigger>
                                      {{idiomas.value?.[0] || ''}}
                                      <span *ngIf="(idiomas.value?.length || 0) > 1" class="example-additional-selection">
                                        (+{{(idiomas.value?.length || 0) - 1}} {{idiomas.value?.length === 2 ? 'other' : 'others'}})
                                      </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let idioma of idiomasList" [value]="idioma">{{idioma}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6 col-md-10 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="backToLanding()">Regresar</button>
                                </div>
                                <div class="col-md-6">
                                    <button 
                                    mat-raised-button class="btn btn-danger btn-block" 
                                    type="submit" 
                                    [disabled]="!candidatoForm.valid"
                                    >Registrarse como candidato
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
