<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger text-center">
                    <h4 class="card-title" i18n="Technical information title@@TechnicalInformationTitle">Technical information</h4>
                  </div>
                  <div class="card-body">
                    <div>
                      <button mat-fab color="success" (click)="openDialog()">
                        <mat-icon>add</mat-icon>
                      </button>
                  </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th class="mat-h2">
                            Tipo de habilidad técnica
                        </th>
                        <th class="mat-h2">
                            Habilidad
                        </th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let info of lista">
                              <td style="width:25%">
                                  {{info["tipo"]}}
                              </td>
                              <td style="width:25%">
                                  {{info["valor"]}}
                              </td>
                          </tr>
                      </tbody>
                      </table>
                      
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                        <div class="row">
                          <div class="col-md-12">
                            <button mat-raised-button class="btn btn-danger btn-block" (click)="backToInfo()" i18n="Back button@@BackButton">Back</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
