<div class="table-responsive">
    <div style="color: gray">
        {{'HISTORIAL_ENTREVISTAS.title' | translate}}
    </div>
    <div>
        <table class="table tabla_historial_entrevista">
            <thead class=" text-primary">
                <th style="color:black">
                    {{'HISTORIAL_ENTREVISTAS.fecha' | translate}}
                </th>
                <th style="color:black">
                    {{'HISTORIAL_ENTREVISTAS.estado' | translate}}
                </th>
                <th style="color:black">
                    {{'HISTORIAL_ENTREVISTAS.empresa' | translate}}
                </th>
                <th>
                    
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let entrevista of listaPrueba">
                    <td style="width:25%">
                        {{entrevista["fecha_entrevista"]}}
                    </td>
                    <td style="width:25%">
                        {{entrevista["estado"]}}
                    </td>
                    <td style="width:25%">
                        {{entrevista["empresa"]}}
                    </td>
                    <td style="width:25%">
                        <img style="width:8%;height:8%" src="/assets/img/editar_gris.png"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="copyright pull-right" style="margin-right: 5%;">
  <div style="border-radius: 5px; background-color:red; color: white; padding-left: 2px; padding-right: 2px;">
      <mat-icon>translate</mat-icon> 
      <select style="border-radius: 5px; background-color:red; color: white; padding-left: 2px; padding-right: 2px;" #selLang (change)="translateLanguageTo(selLang.value)">
          <option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}</option>
      </select>
  </div>
</div>