<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger text-center">
                      <h4 class="card-title ">ABC JOBS</h4>
                      <p class="card-category" i18n="Technical information title@@TechnicalInformationTitle">{{'INFO_CANDIDATE.Title' | translate}}</p>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label i18n="Doc type label@@DocTypeLabel">{{'INFO_CANDIDATE.DocumentType' | translate}}</mat-label>
                            <textarea matInput cdkTextareaAutosize readonly>{{lista["tipo_doc"]}}</textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label i18n="Document number label@@DocumentNumberLabel">{{'INFO_CANDIDATE.DocumentNumber' | translate}}</mat-label>
                            <textarea matInput cdkTextareaAutosize readonly>{{lista["num_doc"]}}</textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label i18n="Name label@NameLabel">{{'INFO_CANDIDATE.Name' | translate}}</mat-label>
                            <textarea matInput cdkTextareaAutosize readonly>{{lista["nombre"]}}</textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label i18n="Email label@@EmailLabel">{{'INFO_CANDIDATE.Email' | translate}}</mat-label>
                            <textarea matInput cdkTextareaAutosize readonly>{{lista["email"]}}</textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label i18n="Telephone label@@TelephoneLabel">{{'INFO_CANDIDATE.Telephone' | translate}}</mat-label>
                            <textarea matInput cdkTextareaAutosize readonly>{{lista["telefono"]}}</textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label i18n="Country label@@CountryLabel">{{'INFO_CANDIDATE.Country' | translate}}</mat-label>
                            <textarea matInput cdkTextareaAutosize readonly>{{lista["pais"]}}</textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label i18n="City label@@CityLabel">{{'INFO_CANDIDATE.City' | translate}}</mat-label>
                            <textarea matInput cdkTextareaAutosize readonly>{{lista["ciudad"]}}</textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label i18n="Wage aspiration label@@WageAspirationLabel">{{'INFO_CANDIDATE.WageAspiration' | translate}}</mat-label>
                            <textarea matInput cdkTextareaAutosize readonly>{{lista["aspiracion_salarial"]}}</textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label i18n="Birthdate label@@BirthdateLabel">{{'INFO_CANDIDATE.BirthDate' | translate}}</mat-label>
                            <textarea matInput cdkTextareaAutosize readonly>{{lista["fecha_nacimiento"]}}</textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-10 ml-auto mr-auto">
                          <div class="row">
                            <div class="col-md-6">
                              <button mat-raised-button class="btn btn-danger btn-block" i18n="Academic information button@@AcademicInformationButton">{{'INFO_CANDIDATE.AcademicInformation' | translate}}</button>
                            </div>
                            <div class="col-md-6">
                              <button mat-raised-button class="btn btn-danger btn-block" (click)="goToInfoTecnica()" i18n="Technical Information button@@TechnicalInformationButton">{{'INFO_CANDIDATE.TechnicalInformation' | translate}}</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-6 col-md-10 ml-auto mr-auto">
                          <div class="row">
                            <div class="col-md-6">
                              <button mat-raised-button class="btn btn-danger btn-block" (click)="goToInfoLaboral()" id="infoLaboralBtn">{{'INFO_CANDIDATE.WorkingInformation' | translate}}</button>
                            </div>
                            <div class="col-md-6">
                              <button mat-raised-button class="btn btn-danger btn-block" i18n="Delete account button@@DeleteAccountButton">{{'INFO_CANDIDATE.DeleteAccount' | translate}}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>  
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="copyright pull-right" style="margin-right: 5%;">
  <div style="border-radius: 5px; background-color:red; color: white; padding-left: 2px; padding-right: 2px;">
      <mat-icon>translate</mat-icon> 
      <select style="border-radius: 5px; background-color:red; color: white; padding-left: 2px; padding-right: 2px;" #selLang (change)="translateLanguageTo(selLang.value)">
          <option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}</option>
      </select>
  </div>
</div>