<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row card-header card-header-danger ">
                        <div class="col-md-2">
                            <h4 class="card-title" style="padding-top:3%">Menu</h4>
                        </div> 
                        <div [ngStyle]="setMyStyles(0)" (click)="onClickOption(0)">
                            <h4 style="padding-top:2%"> 
                                <div style="display: flex; flex-direction: row; padding: 0 0.5rem;">
                                    <div>
                                        <img style="width: 40px; height:auto" src="/assets/img/proyectoIco.png"/>
                                    </div>
                                    <div class="align-self-center">
                                        Proyectos
                                    </div>
                                </div>
                            </h4>
                        </div>       
                        <!-- <div style="background-color : #9e4849; border-radius:5px; width: 11rem;"> -->
                        <div [ngStyle]="setMyStyles(1)" (click)="onClickOption(1)">
                            <h4 style="padding-top:2%"> 
                                <div style="display: flex; flex-direction: row; padding: 0 0.5rem;">
                                    <div>
                                        <img style="width: 40px; height:auto" src="/assets/img/proyectoIco.png"/>
                                    </div>
                                    <div class="align-self-center">
                                        Equipos
                                    </div>
                                </div>
                            </h4>
                        </div>       
                    </div>
                    <div class="card-body">
                        <div *ngIf="selectedIndex==0">
                            <app-crear-proyecto></app-crear-proyecto>
                        </div>
                        <div *ngIf="selectedIndex==1">
                            <p>you are in teams</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
