<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row card-header card-header-danger ">
                        <div class="col-md-2">
                            <h4 class="card-title" style="padding-top:3%">Menu</h4>
                        </div> 
                        <div [ngStyle]="setMyStyles(0)" (click)="onClickOption(0)">
                            <h4 style="padding-top:2%"> 
                                <div style="display: flex; flex-direction: row; padding: 0 0.5rem;">
                                    <div>
                                        <img style="width: 40px; height:auto" src="/assets/img/proyectoIco.png"/>
                                    </div>
                                    <div class="align-self-center">
                                        {{'LANDING_COMPANY.MenuProjects' | translate}}
                                    </div>
                                </div>
                            </h4>
                        </div>
                        <div [ngStyle]="setMyStyles(1)" (click)="onClickOption(1)">
                            <h4 style="padding-top:2%"> 
                                <div style="display: flex; flex-direction: row; padding: 0 0.5rem;">
                                    <div>
                                        <img style="width: 40px; height:auto" src="/assets/img/equipo.png"/>
                                    </div>
                                    <div class="align-self-center">
                                        {{'LANDING_COMPANY.MenuTeams' | translate}}
                                    </div>
                                </div>
                            </h4>
                        </div>       
                        <div [ngStyle]="setMyStyles(2)" (click)="onClickOption(2)" id="menuTestResults">
                            <h4 style="padding-top:2%"> 
                                <div style="display: flex; flex-direction: row; padding: 0 0.5rem;">
                                    <div>
                                        <img alt="{{'LANDING_COMPANY.TechnicalResults' | translate}}" style="width: 40px; height:auto; filter: grayscale(100%) brightness(200%);" src="/assets/img/editar_gris.png"/>
                                    </div>
                                    <div class="align-self-center">
                                        {{'LANDING_COMPANY.TechnicalResults' | translate}}
                                    </div>
                                </div>
                            </h4>
                        </div>       
                    </div>
                    <div class="card-body">
                        <div *ngIf="selectedIndex==0 && pantallaProyectos=='mis-proyectos'">
                            <app-mis-proyectos></app-mis-proyectos>
                        </div>
                        <div *ngIf="selectedIndex==0  && pantallaProyectos=='crear-proyecto'">
                            <app-crear-proyecto></app-crear-proyecto>
                        </div>
                        <div *ngIf="selectedIndex==0  && pantallaProyectos=='editar-proyecto'">
                            <app-editar-proyecto></app-editar-proyecto>
                        </div>
                        <div *ngIf="selectedIndex==0  && pantallaProyectos=='crear-hoja-trabajo'">
                            <app-crear-hoja-trabajo></app-crear-hoja-trabajo>
                        </div>
                        <div *ngIf="selectedIndex==0  && pantallaProyectos=='hojas-de-trabajo'">
                            <app-ver-hojas-trabajo></app-ver-hojas-trabajo>
                        </div>
                        <div *ngIf="selectedIndex==1">
                            <app-consultar-equipo></app-consultar-equipo>
                        </div>
                        <div *ngIf="selectedIndex==2">
                            <app-consultar-resultados-pruebas-tecnicas></app-consultar-resultados-pruebas-tecnicas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>